<ul class="sg-colors">
  <li>
      <span class="sg-swatch" style="background: #E2231A;"></span>
      <span class="sg-label">
        $color-brand-red <br />
        #E2231A
      </span>
  </li>
</ul>
