<ul class="sg-colors">
  <li>
      <span class="sg-swatch" style="background: #E3321A;"></span>
      <span class="sg-label">
        $color-brand-red <br />
        #E3321A
      </span>
  </li>
</ul>
