<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #ffffff;"></span>
		<span class="sg-label">
            $color-white <br />
            #ffffff
        </span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #f9f7f7;"></span>
		<span class="sg-label">
			$color-gray-02 <br />
			#f9f7f7
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #e4e2e2;"></span>
		<span class="sg-label">
			$color-gray-10 <br />
			#e4e2e2
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #cbc9c9;"></span>
		<span class="sg-label">
			$color-gray-20 <br />
			#cbc9c9
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #999797;"></span>
		<span class="sg-label">
			$color-gray-40 <br />
			#999797
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #666464;"></span>
		<span class="sg-label">
			$color-gray-60 <br />
			#666464
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #272525;"></span>
		<span class="sg-label">
			$color-gray-85 <br />
			#272525
		</span>
	</li>
</ul>
