/*------------------------------------
    #BODY
  ------------------------------------*/

/**
 * Body base styles
 */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: $color-white;
  color: $color-gray-85;
  font: 18px $font;
  -webkit-text-size-adjust: 100%;
}
