/*------------------------------------*\
    #HEADINGS
\*------------------------------------*/

// mobile
@media (max-width: 480px) {
  h1 {
    font-family: "Graphik Semibold";
    font-size: 41px;
    color: $color-gray-85;
    line-height: 46px;
  }

  h2 {
    font-family: "Graphik Semibold";
    font-size: 36px;
    color: $color-gray-85;
    line-height: 40px;
  }

  h3 {
    font-family: "Graphik Bold";
    font-size: 22px;
    color: $color-gray-85;
    line-height: 28px;
  }

  .quote {
    font-family: "Graphik Regular", Helvetica, sans-serif;
    font-size: 36px;
    color: $color-gray-85;
    letter-spacing: -0.2px;
    line-height: 40px;
  }
}

// tablet
@media (min-width: 481px) and (max-width: 768px) {
  h1 {
    font-family: "Graphik Semibold";
    font-size: 60px;
    color: $color-gray-85;
    line-height: 66px;
  }

  h2 {
    font-family: "Graphik Semibold";
    font-size: 50px;
    color: $color-gray-85;
    line-height: 55.5px;
  }

  h3 {
    font-family: "Graphik Bold";
    font-size: 22px;
    color: $color-gray-85;
    line-height: 28px;
  }

  .quote {
    font-family: "Graphik Regular", Helvetica, sans-serif;
    font-size: 50px;
    color: $color-gray-85;
    letter-spacing: -0.2px;
    line-height: 55px;
  }
}

// desktop
@media (min-width: 769px) {
  h1 {
    font-family: "Graphik Semibold";
    font-size: 81px;
    color: $color-gray-85;
    line-height: 85px;
  }

  h2 {
    font-family: "Graphik Semibold";
    font-size: 54px;
    color: $color-gray-85;
    line-height: 60px;
  }

  h3 {
    font-family: "Graphik Bold";
    font-size: 24px;
    color: $color-gray-85;
    line-height: 31px;
  }

  .quote {
    font-family: "Graphik Regular", Helvetica, sans-serif;
    font-size: 54px;
    color: $color-gray-85;
    letter-spacing: 0;
    line-height: 60px;
  }
}

h5 {
  font-size: 18px;
  font-family: "Graphik Bold", Helvetica, sans-serif;
  line-height: 1.2;
  text-transform: uppercase;
}

h6 {
  font-size: 16px;
  font-family: "Graphik Bold", Helvetica, sans-serif;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 2px;
}
