/*------------------------------------*\
    #LINKS
\*------------------------------------*/

/**
 * Links
 */
a {
  color: $color-brand-red;
  text-decoration: none;
  outline: 0;
  transition: all $anim-speed-quick $anim-ease;

  &:hover, &:focus {
    text-decoration: none;
  }
}
