/*------------------------------------*\
    #MEDIA ELEMENTS
\*------------------------------------*/

/**
 * Make media elements responsive
 */
.img-responsive, video, object {
  height: auto;
  max-width: 100%;
}

/**
 * Iframe base styles
 */
iframe {
  margin-bottom: $space;
}

/**
 * Figure base styles
 */
figure {
  margin-bottom: $space;

  /**
   * Figure image base styles
   */
  img {
    margin-bottom: $space-half;
  }
}

/**
 * Figure caption base styles
 */
figcaption {
  font-style: italic;
}
