/*------------------------------------*\
    #TABLE
\*------------------------------------*/

/**
 * Table base styles
 */
table {
  width: 100%;
  border: 1px solid $color-gray-60;
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * Table header base styles
 */
th {
  padding: 0.2em;
  border: 1px solid $color-gray-60;
  text-align: left;
}

/**
 * Table cell base styles
 */
td {
  padding: 0.2em;
  border: 1px solid $color-gray-60;
}

/**
 * TechSpec table base styles
 */
.techspectable table {
  width: auto;
  border: none;
}

.techspectable table > tbody > tr > td {
  border: none;
  border-top: none;
  padding-right: 15px;
  padding-bottom: 24px;
  font-size: 18px;
}

.techspectable .spec-label {
  font-size: 18px;
  font-family: "Graphik Bold", Helvetica, sans-serif;
  color: #000;
  line-height: 24px;
  vertical-align: top;
}

.techspectable .grey-text {
  font-size: 18px;
  font-family: "Graphik Regular", Helvetica, sans-serif;
  color: #999797;
  line-height: 24px;
  vertical-align: top;
}

.techspectable .large-grey-heading {
  font-size: 24px;
  color: #999797;
}

.techspectable .light-grey-text {
  font-size: large;
  color: #cbc9c9;
}
