/*------------------------------------*\
    #TEXT
\*------------------------------------*/

/**
 * Paragraph base styles
 */
p {
  margin-bottom: $space;
  line-height: 24px;
}

/**
 * Blockquote base styles
 */
blockquote {
  margin-bottom: $space;
  padding-left: $pad;
  border-left: 1px solid $color-gray-60;
  color: $color-gray-60;
  font-style:italic;
}

/**
 * Horizontal rule base styles
 */
hr {
  height: 1px;
  margin: $space-double 0;
  border: 0;
  background: $color-gray-20;
}

/**
 * Abbreviation base styles
 */
abbr {
  border-bottom: 1px dotted $color-gray-60;
  cursor: help;
}
