<nav class="navBar navBar-black hidden-xs">
  <nav class="wrapper">
    <ul>
      {{> molecules-black-nav-items }}
      {{> molecules-login-nav }}
      {{> molecules-cart-nav }}
    </ul>
  </nav>
</nav>

