<nav class="navBar navBar-black hidden-xs">
  <nav class="wrapper">
    <ul>
      {{> molecules-black-nav-items }}
      {{> molecules-login-nav }}
      <li class="c-primary-nav__link">
        {{> molecules-cart-nav }}
      </li>
    </ul>
  </nav>
</nav>

