<footer class="c-footer" role="contentinfo">


  <div class="container-fluid footer-section">
      <div class="col-sm-12 c-footer-col">
        {{> molecules-footer-links }}
        {{> molecules-footer-apps }}
        <div class="col-sm-12 footer-privacy-seal">
          <a href="//privacy.truste.com/privacy-seal/validation?rid=2960a60c-2e6d-43f4-adda-2d57b130b3af" target="_blank">
            <img style="border: none" src="//privacy-policy.truste.com/privacy-seal/seal?rid=2960a60c-2e6d-43f4-adda-2d57b130b3af" alt="TRUSTe"/>
          </a>
        </div>
      </div>
    </div>

  <div class="c-footer__copyright">
    <div class="container-fluid footer-section">
        <div class="col-sm-12">
          <p>{{ copyright }}</p>
        </div>
      </div>
  </div>

</footer><!-- end c-footer -->
