<footer class="c-footer" role="contentinfo">


  <div class="container-fluid footer-section">
      <div class="col-sm-12 c-footer-col">
        {{> molecules-footer-links }}
        {{> molecules-footer-apps }}
      </div>
    </div>

  <div class="c-footer__copyright">
    <div class="container-fluid footer-section">
        <div class="col-sm-12">
          <p>{{ copyright }}</p>
        </div>
      </div>
  </div>

</footer><!-- end c-footer -->
