<nav class="sp-header-container">
    <div class="sp-logo-left c-header">
        {{> molecules-logo-link }}
    </div>
    <header class="c-header sp-flex-container" role="banner">

        {{> molecules-wordmark-link }}
        <label for="menu-toggle" class="label-toggle"></label>
        <div class="c-header__controls links">
            <input type="checkbox" id="menu-toggle">
            {{> molecules-primary-nav }}
        </div><!-- end c-header__controls -->

    </header><!-- end c-header -->
    <div class="sp-logo-right">
        {{> molecules-logo-link }}
    </div>
</nav>
