<div class="header-nav">
    <nav class="navBar">
        <div class="logo-left visible-lg">
            {{> molecules-logo-link }}
        </div>
        <nav class="wrapper">
            <div class="logo-left-mobile hidden-lg">
                {{> molecules-logo-link }}
            </div>
            <div class="logo">
                {{> molecules-wordmark-link }}
            </div><!-- Logo -->
            <input type="checkbox" id="menu-toggle">
            <label for="menu-toggle" class="label-toggle"></label>
            {{> molecules-primary-nav }}
        </nav>
        <div class="logo-left logo-right">
        </div>
    </nav>
</div>