<div class="container-fluid header-section">
    <div class="col-xs-12 col-lg-6 col-left">
        {{> molecules-bike-specs }}
    </div>
    <div class="col-xs-12 col-lg-6 col-right">
        {{> molecules-size-info }}
    </div>
</div>