<nav class="navBar">
  <nav class="wrapper">
    <div class="logo">
      {{> molecules-wordmark-link }}
    </div><!-- Logo -->
    <input type="checkbox" id="menu-toggle" />
    <label for="menu-toggle" id="label-for-toggle" class="label-toggle">
      <div id="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </label>
    <ul class="main-row">
      {{> molecules-unified-nav }}
      {{> molecules-country-nav }}
      <div class="visible-xs secondary-nav">
        {{> molecules-country-nav }}
      </div>
    </ul>
  </nav>
</nav>

