/*------------------------------------*\
    #BLOCKS
\*------------------------------------*/
/**
 * 1) Blocks are collections of text and/or images/media working together as a unit.
 */





/*------------------------------------*\
  #HERO BLOCK
\*------------------------------------*/
.c-block-hero {
  display: block;
  position: relative;
}

/**
 * Hero Image
 * 1) This is the primary hero image that runs full-bleed across the layout
 */
.c-block-hero__img {
  display: block;
  width: 100%;
  max-height: 50vh;
  object-fit: cover;
}

/**
 * Hero Headline
 * 1) This sits overtop of the hero image when space permits
 */
.c-block-hero__headline {
  padding: 1rem;
  background: $color-dim-50;
  color: $color-white;
  font-size: 2.6rem;
  transition: all $anim-speed-quick $anim-ease;

  @media all and (min-width: $bp-large) {
    position: absolute;
    top: 3rem;
    left: 1rem;
    width: 50%;
  }

  .c-block-hero:hover &, .c-block-hero:focus & {
    background: $color-gray-85;
  }
 }





/*------------------------------------*\
  #MEDIA BLOCK
\*------------------------------------*/

/**
 * 1) Media block contains an image (or some other media) on the left
 * and text on the right.
 * 2) For more info, read http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/
 */
.c-block-media {
  display: flex;
  transition: all $anim-speed-quick $anim-ease;

  &:hover, &:focus {
    .c-block-media__headline {
      color: $color-brand-red;
    }
  }

  &--small {
    font-size: $font-size-small-2;
  }
}

/**
 * Media Container
 * 1) This is the container that holds the block image (or media)
 */
.c-block-media__media {
  margin-right: 1rem;
  max-width: 11em;
  width: 20%;

  .c-block-media--small & {
    margin-right: 0.5rem;
    max-width: 3.5em;
  }

  @media all and (min-width: $bp-med) {
    margin-right: 1.5rem;
    width: 50%;
  }
}

.c-block-media__headline {
  margin-bottom: 0.2em;
  color: $color-gray-60;
  transition: all $anim-speed-quick $anim-ease;

  .c-block-media--small & {
    font-size: $font-size-med;
  }
}

.c-block-media__body {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.c-block-media__excerpt {
  color: $color-gray-40;
  transition: all $anim-speed-quick $anim-ease;

  .c-block-media--small & {
    margin-bottom: 0;
    line-height: 1.2;
  }
}


/*------------------------------------*\
  #TOUT BLOCK
\*------------------------------------*/

/**
 * 1) The tout block contains an image and headline overlayed over the image.
 */
.c-block-tout {
  display: inline-block;
  margin-bottom: $space-half;
  overflow: hidden;
  position: relative;
}

/**
 *  Tout image
 */

.c-block-tout__img {
  display: block;
}

/**
 *  Tout headline
 */
.c-block-tout__headline {
  padding: $pad-half;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: $color-dim-50;
  color: $color-white;
  font-size: 1.4rem;
  transition: all $anim-speed-quick $anim-ease;

  .c-block-tout:hover &, .c-block-tout:focus & {
    padding-bottom: 2rem;
  }
}



/*------------------------------------*\
  #TILE BLOCK
\*------------------------------------*/

/**
 * 1) The tile block contains a span and headline overlayed on a background
 */
.c-block-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 1em 1em;
  width: 100%;
  background: $color-dim-50;
  color: $color-white;
  text-align: center;
  transition: all $anim-speed-quick $anim-ease;

  &:hover, &:focus {
    background: $color-dim-70;
    color: $color-white;
  }

  @media all and (min-width: 55rem) {
    padding: 4em 1em;
  }
}

/**
 * Featured tile block
 */
.c-block-tile--featured {
  min-height: 200px;
}

/**
 * Tile block value
 */
.c-block-tile__value {
  font-size: 1.5rem;
  line-height: 1.2;

  /**
   * Tile value when inside featured tile parent selector
   */
  .c-block-tile--featured & {
    font-size: 2.5rem;

    @media all and (min-width: $bp-med) {
      font-size: 5rem;
    }
  }

  @media all and (min-width: 55rem) {
    font-size: 3rem;
  }
}

.c-block-tile__label {
  color: $color-gray-10;
  font-size: $font-size-med;
  font-weight: normal;
}


/*------------------------------------*\
  #LARGE SPREAD BLOCK
\*------------------------------------*/

/**
 * 1) The large spread block contains a title and various elements over an image with a gradient overlay.
 */

section.c-block-large-spread{
  padding:54px $pad-quad-and-half;
  max-width:$primary-column;
  margin:0 auto;
  background-size:cover;
  background-position:center center;
  position:relative;
  &.large-spread-hero{
    padding:$pad-quad-and-half;
    min-height:550px;
  }
  &.content-right{
    .c-block-large-spread__gradient{
      background: linear-gradient(-135deg, rgba($color-gray-90,1) 0%,rgba($color-gray-90,0) 50%,rgba($color-gray-90,0) 100%);
    }
    .c-block-large-spread__content{
      margin-left:auto;
    }
  }
  &.margin-small{
    margin-bottom:$space-triple;
    @media(max-width:$bp-tablet){
      margin-bottom:$space-double;
    }
  }
  &.margin-medium{
    margin-bottom:$space-quad-and-half;
    @media(max-width:$bp-tablet){
      margin-bottom:$space-triple;
    }
  }
  &.margin-large{
    margin-bottom:54px; // This is placeholder until we have variables.scss set.
    @media(max-width:$bp-tablet){
      margin-bottom:$space-quad-and-half;
    }
  }
  &.margin-xl{
    margin-bottom:81px; // This is placeholder until we have variables.scss set.
    @media(max-width:$bp-tablet){
      margin-bottom:54px;
    }
  }
  &.margin-xxl{
    margin-bottom:182px; // This is placeholder until we have variables.scss set.
    @media(max-width:$bp-tablet){
      margin-bottom:122px;
    }
  }
  .c-block-large-spread__gradient{
    background: linear-gradient(135deg, rgba($color-gray-90,1) 0%,rgba($color-gray-90,0) 50%,rgba($color-gray-90,0) 100%);
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
  }
  .c-block-large-spread__content{
    position:relative;
    max-width:50%;
    @media(max-width:$bp-tablet){
      max-width:none;
    }
    .c-block-large-spread__title{
      color:$color-white;
      margin-bottom:$space-triple;
    }
    h1.c-block-large-spread__title{
      font-size: 54px;
      line-height: 60px;
      @media(max-width:$bp-tablet){
        font-size: 50px;
        line-height: 56px;
      }
      @media(max-width:$bp-mobile){
        font-size: 36px;
        line-height: 40px;
      }
    }
    .c-block-large-spread__copy{
      color:$color-white;
      font-size: 16px;
      letter-spacing: 0;
      line-height: 24px;
      *{
        color:$color-white;
      }
    }
    .sp-btn{

    }
  }
}


 /*------------------------------------*\
  #MEDIUM SPREAD BLOCK
\*------------------------------------*/

/**
 * 1) The medium spread block contains a title and text over an image with a gradient overlay.
 */

 div.c-block-medium-spread{
    padding:$pad-triple;
    width:500px;
    height:500px;
    background-size:cover;
    background-position:center center;
    position:relative;
    @media(max-width:$bp-tablet){
      width:100%;
    }
    .c-block-medium-spread__gradient{
      background: linear-gradient(135deg, rgba($color-gray-90,1) 0%,rgba($color-gray-90,0) 50%,rgba($color-gray-90,0) 100%);
      position:absolute;
      width:100%;
      height:100%;
      left:0;
      top:0;
    }
    .c-block-medium-spread__content{
      position:relative;
      max-width:50%;
      @media(max-width:$bp-tablet){
        max-width:none;
      }
      .c-block-medium-spread__title{
        color:$color-white;
        margin-bottom:$space-and-half;
      }
      .c-block-medium-spread__copy{
        color:$color-white;
        font-size: 16px;
        letter-spacing: 0;
        line-height: 24px;
        *{
          color:$color-white;
        }
      }
    }
 }


 /*------------------------------------*\
  #SIDE BY SIDE BLOCK
\*------------------------------------*/

/**
 * 1) The side by side block contains a title and text in a container with a background color on one side and a box with a background image on the other.
 */

 div.c-block-side-by-side{
    width:500px;
    height:238px;
    position:relative;
    display:flex;
    @media(max-width:$bp-tablet){
      width:100%;
    }
    &.content-right{
      .c-block-side-by-side__content{
        order:2;
      }
    }
    .c-block-side-by-side__content{
      width:50%;
      padding:$pad-triple;
      background-color:$color-gray-02;
      height:100%;
      @media(max-width:$bp-tablet){
        width:100%;
      }
      .c-block-side-by-side__title{
        margin-bottom:$space-and-half;
      }
      .c-block-side-by-side__copy{
        font-size: 16px;
        letter-spacing: 0;
        line-height: 24px;
      }
    }
    .c-block-side-by-side__image{
      width:50%;
      height:100%;
      background-size:cover;
      background-position:center center;
      @media(max-width:$bp-tablet){
        width:0%;
      }
    }
 }


 /*------------------------------------*\
  #OVER UNDER BLOCK
\*------------------------------------*/

/**
 * 1) The over under block contains a title and text in a container with a background color below a box with a background image.
 */

 .c-block-over-under{
      height:500px;
      width:500px;
      @media(max-width:$bp-tablet){
        width:100%;
      }
    .c-block-over-under__image{
      height:262px;
      width:100%;
      background-size:cover;
      background-position:center center;
    }
    .c-block-over-under__content{
      width:100%;
      padding:$pad-triple;
      background-color:$color-gray-02;
      height:238px;
      .c-block-over-under__title{
        margin-bottom:$space-and-half;
      }
      .c-block-over-under__copy{
        font-size: 16px;
        letter-spacing: 0;
        line-height: 24px;
      }
    }
 }

  /*------------------------------------*\
  #RESOURCE BLOCK
\*------------------------------------*/

/**
 * 1) The resource block contains a title and link inside a container with a background color.
 */

 div.c-block-resource{
  position:relative;
    width:238px;
    height:238px;
    padding:$pad-triple;
    background-color:$color-gray-02;
    .c-block-resource__content{
      .c-block-resource__title{

      }
    }
    .c-block-resource__link{
      position:absolute;
      bottom:$space-triple;
      a{
        font-family: "Graphik Semibold";
      }
    }
 }