/*------------------------------------
    #BUTTONS
------------------------------------*/

/**
 * Button
 */
.sp-btn {

  display: inline-block;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  font-size: 18px;
  font-family: "Graphik Bold", Helvetica, sans-serif;
  padding: 10px 28px 6px 28px;
  margin-top: 32px;
  margin-bottom: 32px;
  min-width: 244px;
  max-width: 100%;
  min-height: 44px;
  background: $color-brand-red;
  color: $color-white;
  line-height: 44px;
  text-align: center;
  text-transform: uppercase;
  transition: background 0.2s ease;
  touch-action: manipulation;

  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;

  &:hover, &:focus {
    background: $color-brand-red;
    color: $color-white;
  }
  &:active {
    background-color: $color-active-red;
    border-color: $color-active-border;
  }

  /**
   * Disabled button
   */
  &.disabled {
    background: $color-gray-10;
    color: $color-gray-02;
    border-color: $color-gray-10;
    opacity: 1;
  }
}

.sp-btn-secondary {

  display: inline-block;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  font-size: 18px;
  font-family: "Graphik Bold", Helvetica, sans-serif;
  padding: 10px 28px 6px 28px;
  margin-top: 32px;
  margin-bottom: 32px;
  min-width: 244px;
  max-width: 100%;
  min-height: 44px;
  background: $color-brand-red;
  line-height: 44px;
  text-align: center;
  text-transform: uppercase;
  transition: background 0.2s ease;
  touch-action: manipulation;
  color: $color-gray-85;

  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  border: 2px solid $color-gray-85;
  background: transparent;

  &:hover, &:focus {
    color: $color-gray-85;
  }
}

.sp-btn-secondary-white {

  display: inline-block;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  font-size: 18px;
  font-family: "Graphik Bold", Helvetica, sans-serif;
  padding: 10px 28px 6px 28px;
  margin-top: 32px;
  margin-bottom: 32px;
  min-width: 244px;
  max-width: 100%;
  min-height: 44px;
  background: $color-brand-red;
  line-height: 44px;
  text-align: center;
  text-transform: uppercase;
  transition: background 0.2s ease;
  touch-action: manipulation;
  color: $color-white;

  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  border: 2px solid $color-white;
  background: transparent;

  &:hover, &:focus {
    color: $color-white;
  }
}

.sp-btn-white {
  color: $color-brand-red;
  background: $color-white;
  &:hover, &:focus {
    color: $color-brand-red;
    background: $color-white;
  }
  &:active {
    color: $color-brand-red;
    background: $color-white;
    border: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125)
  }
}

/**
 * Small button
 */
.c-btn-small {
  padding: $pad-half;
}

/**
 * Large button
 */
.c-btn-large {
  padding: $pad-half;
  background: $color-gray-60;
  font-size: 1.4rem;
  font-weight: normal;
  text-transform: uppercase;
}

/**
 * Text button
 */
.c-text-btn {
  position: relative;
  border: none;
  background: none;
  font-style: normal;
  font-weight: bold;
  font-size: 1.2rem;

  &:after {
    position: absolute;
    height: 20px;
    width: 20px;
    top: 7px;
    right: -26px;
    background: url("../images/icon-arrowhead.svg") no-repeat;
    content: "";
    transition: all 0.2s ease;
  }

  &:hover, &:focus {
    color: $color-gray-85;

    &:after {
      right: -28px;
    }
  }

  .c-block-media--small & {
    font-size: 1rem;
  }
}

/**
 * Button on overlay
 */

.c-btn--overlay {
  background: $color-gray-40;
}
