/*------------------------------------
    #FOOTER NAVIGATION
------------------------------------*/
/**
 * Footer central column
*/
.c-footer-col {
  padding-left: 0;
  padding-right: 0;
}

.c-footer-nav {
  padding-left: 0;
  padding-right: 0;
}

/**
 * Footer Nav List
 */
.c-footer-nav__list {
  ul {
    margin-top: $space;
  }

  margin-top: 40px;
}

/**
 * Footer Nav List Item
 */
.c-footer-nav__item {
  font-size: 16px;
  padding-bottom: $space;
}

/**
 * Footer Nav Links
 */
.c-footer-nav__link {
  color: $color-white;
}

// Footer Mobile App Badges
.c-footer__apps {
  padding: $space-quint 15px;
  font-size: 16px;;

  @media (max-width: $bp-med) {
    padding-left: 24px;
  }
}

// Footer Privacy Seal
.footer-privacy-seal {
  padding-bottom: 40px;
}

.c-footer__app-badges {
  display: block;
  margin-top: $space;

  div {
    margin-right: $space-triple;
    width: 120px;
    height: 36px;
    display: inline-block;
  }

  .c-footer__appstore {
    background: url("../images/badge-app-store.png") no-repeat;
  }

  .c-footer__playstore {
    background: url("../images/badge-google-play.png") no-repeat;
  }
}
