/*------------------------------------
    #FOOTER
------------------------------------*/

/**
 * Footer
 */
.c-footer {
  clear: both;
  overflow: hidden;
  background: $color-gray-85;
  color: $color-white;
  text-align: left;
  
  @media (min-width: 1024px) {
    .col-sm-6, .col-lg-6, .col-md-6 {
      max-width: 488px;
    }
  
    .text-section, .header-section, .footer-section {
      max-width: 1024px;
    }
  
    .col-left {
      padding-right: 24px;
    }

    .col-right {
      padding-left: 24px;
    }
  }
}

/**
 * Footer nav
 */
.c-footer__info {
  max-width: 40em;
  a {
    color: $color-gray-20;
    text-decoration: underline;

    &:hover, &:focus {
      text-decoration: none;
    }
  }
}

// Footer copyright block
.c-footer__copyright {
  display: block;
  width: 100%;
  padding: $space-double 0px;
  background-color: $color-gray-90;
  font-size: $font-size-small-2;
  margin-bottom: 0;

  p {
    margin: 0 auto;
    font-size: 16px;
  }
}

