/*------------------------------------
    #FOOTER NAVIGATION
------------------------------------*/

/**
 * Footer Nav
 */
.c-footer-nav {
  display: flex;
  flex-direction: row;
  padding-top: $space-quint;
  width: 1024px;
  margin: 0 auto;
}

/**
 * Footer Nav List
 */
.c-footer-nav__list {
  width: 230px;
  margin-right: $space-quad;

  ul {
    margin-top: $space;
  }
}

/**
 * Footer Nav List Item
 */
.c-footer-nav__item {
  font-size: $font-size-small-2;
  padding-bottom: $space;
  /*width: 50%;

  @media all and (min-width: $bp-small) {
    width: inherit;
  }*/
}

/**
 * Footer Nav Links
 */
.c-footer-nav__link {
  color: $color-white;
}


// Footer Mobile App Badges
.c-footer__apps {
  display: flex;
  flex-direction: column;
  padding: $space-quint 0;
  width: 1024px;
  margin: 0 auto;
  font-size: $font-size-small-2;

}

.c-footer__app-badges {
  display: block;
  flex-direction: column;
  margin-top: $space;

  img {
    margin-right: $space-triple;
  }
}
