.top-row {
  display: flex;
  justify-content: flex-end !important;
  height: 15px;
  margin-top: 10px !important;

  a {
    color: $color-gray-40;
    font-size: 12px;
  }

  ul {
    display: flex;
    justify-content: flex-end;
  }

  ul li {
    float: left;
  }

  a::before {
    content: none;
  }

  @media screen and (max-width: 768px) {
    display: none !important;
  }
}

.flag-icon {
  width: 1.5em !important;
  height: 1.5em;
  border-radius: 50%;
}

#accordion_container {
  height: 20px;
  width: 20px;
  display: inline-flex;
  float: right;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
}

#accordion_btn {
  background: url("../images/iconAccordion.svg") no-repeat;
  height: 12px;
  width: 19px;
}

.navBar {
  background-color: $color-white;
  box-shadow: 0 3px 32px 0 rgba(0,0,0,0.08);
  position: fixed;
  top: 0;
  min-width: 100%;
  z-index: 999;
  height: 100px;

  &.navBar-black {
    background-color: $color-gray-85;
    color: $color-gray-02;
    height: 86px;
    margin-top:100px;

    .wrapper {
      justify-content: flex-end;

      ul {
        width: 80%;
        justify-content: flex-end;

        .c-primary-nav__link {
          flex-grow: 1;

          .cartButton {
            background: url("../images/iconCartWhite.svg") no-repeat;
          }
        }

        a {
          color: white;
        }

        .sub-menu a {
          height: 36px;
        }
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 74px;

        .glyphicon-user {
          top: -1px;
        }
      }

      .arrow-menu {
        width: 300px;

        a {
          padding: 10px 0;
        }
      }

      a::before {
        background-color: white;
      }
      a.open::before {
        background-color: white;
      }
    }
  }
}

.logo {
  display: inline-block;
  margin: 27px 0 14px 0;
  a::before {
    content: none;
  }
  a {
    margin-left: 0;
    margin-right: 0;
  }
}

// Content Wrapper
.wrapper {
  margin: 0 auto;
  padding: 0 25px;
  max-width: 964px;
}

// Full Navigation, including mobile menu
nav {
  ul {
    display: flex;
    justify-content: flex-end;
    width: 33%;

    .c-primary-nav__link {
      flex-grow: 1;
    }

    a {
      color: $color-gray-85;
      text-decoration: none;
      font-size: 16px;
      transition: all .5s ease;
    }
  }

  li  {
    display: inline-block;
    vertical-align: middle;
  }

  @media (min-width: $screen-sm-min) {
    .arrow-menu {
      width: 234px;
      padding:  16px;
      margin-left: -311px;
      margin-top: 80px;
      position: absolute;
      background: $color-gray-85;
      opacity: 90%;
      -moz-box-shadow: 0 3px 32px 0 rgba(0,0,0,0.08);
      -webkit-box-shadow: 0 3px 32px 0 rgba(0,0,0,0.08);
      box-shadow: 0 3px 32px 0 rgba(0,0,0,0.08);
      ul {
        margin: 0;
        padding: 0;
      }

      li {
        display: block;
        padding: 0 0 16px 0;
        text-transform: uppercase;
      }
      .sp-global .header-nav nav li {
        display: block;
      }

      .sub-menu {
        width: max-content;
        margin-left: 24px;
      }
    }

    .wrapper {
      align-items: center;
      display: flex;
      justify-content: space-between;
      height:100%;
    }
  }

  #user_dropdown {
    text-align: center;
    width: 32px;
  }

  #menu-toggle {display: none;}

  .label-toggle {display: none;}

  .burger {
    display: none;
  }

  ol, ul {
    list-style: none;
  }
  a:hover, a:focus, a:active {
    color: #999;
    text-decoration: none;
  }
  a {
    text-decoration: none;
    transition: color 0.1s, background-color 0.1s;
  }
  a, .nav-item {
    cursor: pointer;
    position: relative;
    display: block;
    padding: 12px 0;
    margin: auto 12px;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    text-transform: uppercase;
    transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in;
    color: #000;
  }
  a:not(.no-hover)::before {
    content: '';
    display: block;
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #000;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s,transform 0.2s ease-out;
  }
  a:active::before {
    background-color: #000;
  }
  a:hover::before, a.on, a.open::before {
    transform-origin: left top;
    transform: scale(1, 1);
  }

  a.open:not(.no-hover)::before {
    bottom: -5px;
    background-color: white;
  }

  @media screen and (max-width: 768px) {
    .nested-nav {
      margin-left: 42px;
    }

    .nested-nav, #show_nested_nav, #hide_nested_nav {
      visibility: hidden;
    }

    #show_nested_nav, #hide_nested_nav {
      margin-right: 40px
    }

    #country-badge {
      font-size: 16px;
    }

    &.navBar {
      height: 77px;
    }

    .logo {
      margin: 33px 0 14px 0;
    }

    .arrow-menu {
      height: inherit;
      visibility: visible;
      opacity: 1;
    }

    #show_nested_nav {
      visibility: visible;
    }

    .logo {
      padding-left: 30px;
    }

    .c-primary-nav__link, .arrow-menu li {
      color: $color-gray-85;
      background-color: $color-white;
      visibility: visible;
      font-size: 12px;
      padding-top: 10px;
      padding-bottom: 10px;
      z-index: 999;
    }

    nav {
      ul {
        a {
          color: $color-gray-85;
        }
      }
    }
    ul {
      background-color: $color-white;
      display: block;
      height: 0;
      list-style-type: none;
      opacity: 0;
      text-align: center;
      transition: all 1s ease;
      width: 100%;
      visibility: hidden;
      overflow-y: scroll;
      padding-bottom: 10px;
    }

    .secondary-nav {
      margin-top: 25px;
      a {
        font-size: 16px;
      }
    }

    li {
      color: $color-gray-85;
      display: block;
      text-align: left;
      padding-left: 15px;
      a, .nav-item {
        font-size: 24px;
      }

      .nav-item {
        width: 100%;
      }

      &.mobile-sub-menu {
        display: flex;

        a {
          margin-top: 15px;
          padding: 5px 0;
          font-size: 16px;
        }
      }
    }

    .sub-menu {
      padding-left: 30px;
    }

    .c-primary-nav__link {
      visibility: hidden;
    }

    .arrow-menu li {
      visibility: hidden;
    }

    #menu-toggle:checked ~ ul {
      opacity: 1;
      height: calc(100vh - 77px);
      visibility: visible;
      .c-primary-nav__link {
        visibility: visible;
        &.nested-nav {
          display: none;
        }
      }

      .arrow-menu li {
        visibility: visible;
      }
    }

    .label-toggle {
      cursor: pointer;
      display: inline-block;
      float: right;
      margin-top: 33px;
    }

    .burger {
      display: block;
    }

    .cart-icon {
      display: inline-block;
      margin-right: 10px;
    }
  }
}

#hamburger {
  width: 30px;
  height: 20px;
  position: relative;
  margin-right: 26px;
  position: relative;
  bottom: 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#hamburger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: $color-gray-85;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

/* Icon 4 */

#hamburger span:nth-child(1) {
  top: 0;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#hamburger span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#hamburger span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#hamburger.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0;
  left: 8px;
}

#hamburger.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 21px;
  left: 8px;
}

// Section with My Account dropdown
.dropdown-area {
  display: block;
}

