/*------------------------------------
    #LOGO
------------------------------------*/

.c-logo {
	display: block;
	/*max-width: 200px;*/

	.c-box__header & {
    margin: 0 auto;
		max-width: 12em;
	}
}

.c-logo-link {
	display: inline-block;
}
