/*------------------------------------
    #LOGO
------------------------------------*/

.c-logo {
	display: block;
	/*max-width: 200px;*/

	.c-box__header & {
    margin: 0 auto;
		max-width: 12em;
	}
}

.c-logo-link {
	display: inline-block;
}

#logo {
	background: url("../images/sp-logomark.svg") no-repeat;
	width: 30px;
	height: 45px;
}

#wordmark {
	background: url("../images/sp-wordmark.svg") no-repeat;
	width: 180px;
	height: 20px;
}