/*------------------------------------
    #PRIMARY NAVIGATION
------------------------------------*/

/**
 * Navigation tag
 */
.c-primary-nav {
  display: block;

  &--is-active {
    display: block;
    position: absolute;
    top: 67px;
    right: 0;
    z-index: 2;
  }
}

/**
 * Nav List
 */
.c-primary-nav__list {
  display: none;

  @media all and (min-width: $bp-large-2) {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }

  .c-primary-nav--is-active & {
    display: block;
  }
}

/**
 * Nav Links
 */
.c-primary-nav__link {
  display: block;
  color: $color-gray-85;
  font: 14px "Graphik Regular", Helvetica, sans-serif;
  text-transform: uppercase;
}
