/*==============================================================================
    TABLE OF CONTENTS
    based on CSS Guidelines https://github.com/csswizardry/CSS-Guidelines
  ============================================================================*/
/**
 * ABSTRACTS.................Declarations of Sass variables mixins
 * Mixins....................Mixin styles that are included in the site
 * Variables.................Variables for styles t
**/
/*==============================================================================
    $ABSTRACTS
  ============================================================================*/
/*------------------------------------
    #FONTS
  ------------------------------------*/
@font-face {
  font-family: 'Graphik Regular';
  src: url("/fonts/Graphik-Regular-Web.eot");
  src: url("/fonts/Graphik-Regular-Web.eot?#iefix") format("embedded-opentype"), url("/fonts/Graphik-Regular-Web.woff2") format("woff2"), url("/fonts/Graphik-Regular-Web.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: 'Graphik Medium';
  src: url("/fonts/Graphik-Medium-Web.eot");
  src: url("/fonts/Graphik-Medium-Web.eot?#iefix") format("embedded-opentype"), url("/fonts/Graphik-Medium-Web.woff2") format("woff2"), url("/fonts/Graphik-Medium-Web.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: 'Graphik Semibold';
  src: url("/fonts/Graphik-Semibold-Web.eot");
  src: url("/fonts/Graphik-Semibold-Web.eot?#iefix") format("embedded-opentype"), url("/fonts/Graphik-Semibold-Web.woff2") format("woff2"), url("/fonts/Graphik-Semibold-Web.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: 'Graphik Bold';
  src: url("/fonts/Graphik-Bold-Web.eot");
  src: url("/fonts/Graphik-Bold-Web.eot?#iefix") format("embedded-opentype"), url("/fonts/Graphik-Bold-Web.woff2") format("woff2"), url("/fonts/Graphik-Bold-Web.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: 'Graphik Black';
  src: url("/fonts/Graphik-Black-Web.eot");
  src: url("/fonts/Graphik-Black-Web.eot?#iefix") format("embedded-opentype"), url("/fonts/Graphik-Black-Web.woff2") format("woff2"), url("/fonts/Graphik-Black-Web.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: 'Graphik Super';
  src: url("/fonts/Graphik-Super-Web.eot");
  src: url("/fonts/Graphik-Super-Web.eot?#iefix") format("embedded-opentype"), url("/fonts/Graphik-Super-Web.woff2") format("woff2"), url("/fonts/Graphik-Super-Web.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-stretch: normal; }

/*==============================================================================
    $BASE
  ============================================================================*/
/*------------------------------------
    #ANIMATION
  ------------------------------------*/
/**
 * Fade Animation
 */
/*.animate-fade {
/	/*@include transition(opacity, 0.3s, ease-out);*/
/*
  &:hover {
    opacity: 0;
  }
}*/
/*------------------------------------
    #BODY
  ------------------------------------*/
/**
 * Body base styles
 */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #fff;
  color: #272525;
  font: 18px "Graphik Regular", "Helvetica", "Arial", sans-serif;
  -webkit-text-size-adjust: 100%; }

/*------------------------------------*    #FORMS
\*------------------------------------*/
/**
 * Fieldset base styles
 */
fieldset {
  margin: 0;
  padding: 0;
  border: 0; }

/**
 * Label base styles
 */
label {
  display: block;
  padding-bottom: 0.2rem;
  font-weight: bold; }

/**
 * Form button, input, select, and text area base styles
 * 1) Zero out margin and inherit font styles
 */
button, input, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%; }

/**
 * Input and text area base styles
 * 1) Width entire container, gray border, padding
 */
input, textarea {
  padding: 8px 16px;
  width: 100%;
  border: 1px solid #666464; }

/**
 * Input areas base styles
 * 1) Get rid of webkit appearance of these areas
 */
input[type=text], input[type=search], input[type=url], input[type=number], textarea {
  -webkit-appearance: none; }

/**
 * Button/Submit button base styles
 */
button, input[type="submit"] {
  padding: 4px;
  border: 1px solid #666464;
  background: #272525;
  cursor: pointer; }

/**
 * Checkboxes/Radio button base styles
 */
input[type="checkbox"],
input[type="radio"] {
  margin-right: 0.3em;
  width: auto; }

/**
 * Search cancel button and search decoration webkit appearance none
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Drop-down menu styling.
 */
select {
  height: 48px;
  padding: 8px;
  /* If you add too much padding here, the options won't show in IE */
  border: none;
  border-radius: 0;
  background: transparent;
  font-size: 16px; }

.select-style {
  width: 120px;
  overflow: hidden;
  border: 1px solid #666464;
  border-radius: 0px;
  background: #fafafa url("img/icon-select.png") no-repeat 90% 50%; }

.select-style select {
  padding: 5px 8px;
  width: 130%;
  box-shadow: none;
  border: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none; }

.select-style select:focus {
  outline: none; }

/**
 * Radio button styling.
 */
.f-radio-style {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none; }

.f-radio-style li {
  display: block;
  float: left;
  position: relative;
  height: 100%;
  width: 100%; }

.f-radio-style li input[type=radio] {
  visibility: hidden; }

.f-radio-style li .check {
  display: block;
  height: 24px;
  width: 24px;
  position: relative;
  top: -20px;
  z-index: 5;
  border: 1px solid #272525;
  border-radius: 100%;
  transition: border .25s linear;
  -webkit-transition: border .25s linear; }

.f-radio-style li .check::before {
  display: block;
  margin: auto;
  position: relative;
  height: 16px;
  width: 16px;
  top: 3px;
  border-radius: 100%;
  content: '';
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear; }

input[type=radio]:checked ~ .check {
  border: 1px solid #272525; }

input[type=radio]:checked ~ .check::before {
  background: #e3321a; }

/**
 * Checkbox styling
 */
.f-checkbox {
  position: relative;
  width: 20px; }
  .f-checkbox label {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 0;
    left: 0;
    border: 1px solid black;
    border-radius: 1px;
    background: white;
    cursor: pointer; }
    .f-checkbox label:after {
      position: absolute;
      width: 16px;
      height: 8px;
      top: 4px;
      left: 4px;
      border: 6px solid #e3321a;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0;
      content: '';
      transform: rotate(-45deg); }
  .f-checkbox input[type=checkbox] {
    visibility: hidden; }
    .f-checkbox input[type=checkbox]:checked + label:after {
      opacity: 1; }

input,
textarea,
select {
  outline: 0; }

input:focus,
textarea:focus {
  border: solid 2px #999797; }

/*------------------------------------*    #GLOBAL CLASSES
\*------------------------------------*/
/**
 * Clearfix
 */
.cf {
  *zoom: 1; }

/**
 * Clearfix pseudo-elements
 */
.cf:before, .cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

/**
 * Completely remove from the flow and screen readers.
 */
.is-hidden {
  display: none !important;
  visibility: hidden !important; }

/**
 * Completely remove from the flow but leave available to screen readers.
 */
.is-vishidden {
  padding: 0;
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px); }

/**
 * Text align right
 */
.align-right {
  text-align: right; }

/**
 * Text align center
 */
.align-center {
  text-align: center; }

/**
 * Text Align left
 */
.align-left {
  text-align: left; }

/**
 * Hide on small screens
 */
@media all and (max-width: 46.8em) {
  .hide-small {
    display: none; } }

/**
 * Hide on medium screens
 */
@media all and (min-width: 46.8em) and (max-width: 50em) {
  .hide-med {
    display: none; } }

/**
 * Hide on large screens
 */
@media all and (min-width: 50em) {
  .hide-large {
    display: none; } }

/**
 * Show valid text color
 */
.valid {
  color: #03804d; }

/**
 * Show error text color
 */
.error {
  color: #b12a0b; }

/**
 * Show warning text color
 */
.warning {
  color: #a59b15; }

/**
 * Show informational text color
 */
.information {
  color: #0192d0; }

/*------------------------------------*    #HEADINGS
\*------------------------------------*/
/**
 * Heading 1
 */
h1 {
  font-size: 48px;
  font-family: "Graphik Black", Helvetica, sans-serif;
  line-height: 1.2;
  text-transform: uppercase; }

/**
 * Heading 2
 */
h2 {
  font-size: 40px;
  font-family: "Graphik Black", Helvetica, sans-serif;
  line-height: 1.2;
  text-transform: uppercase; }

/**
 * Heading 3
 */
h3 {
  font-size: 32px;
  font-family: "Graphik Black", Helvetica, sans-serif;
  line-height: 1.2;
  text-transform: uppercase; }

/**
 * Heading 4
 */
h4 {
  font-size: 24px;
  font-family: "Graphik Black", Helvetica, sans-serif;
  line-height: 1.2;
  text-transform: uppercase; }

/**
 * Heading 5
 */
h5 {
  font-size: 18px;
  font-family: "Graphik Black", Helvetica, sans-serif;
  line-height: 1.2;
  text-transform: uppercase; }

/**
 * Heading 6
 */
h6 {
  font-size: 16px;
  font-family: "Graphik Black", Helvetica, sans-serif;
  line-height: 1.2;
  text-transform: uppercase; }

/*------------------------------------*    #LINKS
\*------------------------------------*/
/**
 * Links
 */
a {
  color: #666464;
  text-decoration: none;
  outline: 0;
  transition: all 0.2s ease;
  /*&:hover, &:focus {
    color: $color-gray-85;
  }*/ }

/*------------------------------------*    #LINKS
\*------------------------------------*/
/**
 * Ordered/Unordered list base styles
 */
ol, ul {
  margin: 0;
  padding: 0;
  list-style: none; }

/**
 * Definition list base styles
 */
dl {
  margin: 0 0 8px;
  overflow: hidden; }

/**
 * Terms/Names base styles
 */
dt {
  font-weight: bold; }

/**
 * Definition list description base styles
 */
dd {
  margin-left: 0; }

/*------------------------------------*    #MAIN
\*------------------------------------*/
/**
 * Main content area
 */
[role=main] {
  flex: 1; }

/*------------------------------------*    #MEDIA ELEMENTS
\*------------------------------------*/
/**
 * Make media elements responsive
 */
img, video, object {
  height: auto;
  max-width: 100%; }

/**
 * Iframe base styles
 */
iframe {
  margin-bottom: 8px; }

/**
 * Figure base styles
 */
figure {
  margin-bottom: 8px;
  /**
   * Figure image base styles
   */ }
  figure img {
    margin-bottom: 4px; }

/**
 * Figure caption base styles
 */
figcaption {
  font-style: italic; }

/*------------------------------------*    #RESET
\*------------------------------------*/
/**
 * Use border box on all elements
 */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

/**
 * Zero out margin and padding on most elements as base style
 */
html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, form, legend, label, table, header, footer, nav, section, figure {
  margin: 0;
  padding: 0; }

/**
 * Display block as base for these elements
 */
header, footer, nav, section, article, hgroup, figure {
  display: block; }

/*------------------------------------*    #TABLE
\*------------------------------------*/
/**
 * Table base styles
 */
table {
  width: 100%;
  border: 1px solid #666464;
  border-collapse: collapse;
  border-spacing: 0; }

/**
 * Table header base styles
 */
th {
  padding: 0.2em;
  border: 1px solid #666464;
  text-align: left; }

/**
 * Table cell base styles
 */
td {
  padding: 0.2em;
  border: 1px solid #666464; }

/*------------------------------------*    #TEXT
\*------------------------------------*/
/**
 * Paragraph base styles
 */
p {
  margin-bottom: 8px; }

/**
 * Blockquote base styles
 */
blockquote {
  margin-bottom: 8px;
  padding-left: 8px;
  border-left: 1px solid #666464;
  color: #666464;
  font-style: italic; }

/**
 * Horizontal rule base styles
 */
hr {
  height: 1px;
  margin: 16px 0;
  border: 0;
  background: #cbc9c9; }

/**
 * Abbreviation base styles
 */
abbr {
  border-bottom: 1px dotted #666464;
  cursor: help; }

/*==============================================================================
    $COMPONENTS
  ============================================================================*/
/*------------------------------------*    #BLOCKS
\*------------------------------------*/
/**
 * 1) Blocks are collections of text and/or images/media working together as a unit.
 */
/*------------------------------------*  #HERO BLOCK
\*------------------------------------*/
.c-block-hero {
  display: block;
  position: relative; }

/**
 * Hero Image
 * 1) This is the primary hero image that runs full-bleed across the layout
 */
.c-block-hero__img {
  display: block;
  width: 100%;
  max-height: 50vh;
  object-fit: cover; }

/**
 * Hero Headline
 * 1) This sits overtop of the hero image when space permits
 */
.c-block-hero__headline {
  padding: 1rem;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 2.6rem;
  transition: all 0.2s ease; }
  @media all and (min-width: 50em) {
    .c-block-hero__headline {
      position: absolute;
      top: 3rem;
      left: 1rem;
      width: 50%; } }
  .c-block-hero:hover .c-block-hero__headline, .c-block-hero:focus .c-block-hero__headline {
    background: #272525; }

/*------------------------------------*  #MEDIA BLOCK
\*------------------------------------*/
/**
 * 1) Media block contains an image (or some other media) on the left
 * and text on the right.
 * 2) For more info, read http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/
 */
.c-block-media {
  display: flex;
  transition: all 0.2s ease; }
  .c-block-media:hover .c-block-media__headline, .c-block-media:focus .c-block-media__headline {
    color: #e3321a; }
  .c-block-media--small {
    font-size: 0.875rem; }

/**
 * Media Container
 * 1) This is the container that holds the block image (or media)
 */
.c-block-media__media {
  margin-right: 1rem;
  max-width: 11em;
  width: 20%; }
  .c-block-media--small .c-block-media__media {
    margin-right: 0.5rem;
    max-width: 3.5em; }
  @media all and (min-width: 46.8em) {
    .c-block-media__media {
      margin-right: 1.5rem;
      width: 50%; } }

.c-block-media__headline {
  margin-bottom: 0.2em;
  color: #666464;
  transition: all 0.2s ease; }
  .c-block-media--small .c-block-media__headline {
    font-size: 1rem; }

.c-block-media__body {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center; }

.c-block-media__excerpt {
  color: #999797;
  transition: all 0.2s ease; }
  .c-block-media--small .c-block-media__excerpt {
    margin-bottom: 0;
    line-height: 1.2; }

/*------------------------------------*  #TOUT BLOCK
\*------------------------------------*/
/**
 * 1) The tout block contains an image and headline overlayed over the image.
 */
.c-block-tout {
  display: inline-block;
  margin-bottom: 4px;
  overflow: hidden;
  position: relative; }

/**
 *  Tout image
 */
.c-block-tout__img {
  display: block; }

/**
 *  Tout headline
 */
.c-block-tout__headline {
  padding: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 1.4rem;
  transition: all 0.2s ease; }
  .c-block-tout:hover .c-block-tout__headline, .c-block-tout:focus .c-block-tout__headline {
    padding-bottom: 2rem; }

/*------------------------------------*  #TILE BLOCK
\*------------------------------------*/
/**
 * 1) The tile block contains a span and headline overlayed on a background
 */
.c-block-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 1em 1em;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  transition: all 0.2s ease; }
  .c-block-tile:hover, .c-block-tile:focus {
    background: rgba(0, 0, 0, 0.7);
    color: #fff; }
  @media all and (min-width: 55rem) {
    .c-block-tile {
      padding: 4em 1em; } }

/**
 * Featured tile block
 */
.c-block-tile--featured {
  min-height: 200px; }

/**
 * Tile block value
 */
.c-block-tile__value {
  font-size: 1.5rem;
  line-height: 1.2;
  /**
   * Tile value when inside featured tile parent selector
   */ }
  .c-block-tile--featured .c-block-tile__value {
    font-size: 2.5rem; }
    @media all and (min-width: 46.8em) {
      .c-block-tile--featured .c-block-tile__value {
        font-size: 5rem; } }
  @media all and (min-width: 55rem) {
    .c-block-tile__value {
      font-size: 3rem; } }

.c-block-tile__label {
  color: #e4e2e2;
  font-size: 1rem;
  font-weight: normal; }

/*------------------------------------
    #BOX
------------------------------------*/
/**
 * 1) This component is a modal-like
 */
.c-box {
  padding: 2rem;
  margin: 2rem auto;
  max-width: 32em;
  align-self: center;
  justify-content: center;
  border: 1px solid #666464; }

.c-box__header {
  margin-bottom: 2rem;
  text-align: center; }

/*------------------------------------
    #BUTTONS
------------------------------------*/
/**
 * Button
 */
.c-btn {
  display: inline-block;
  min-width: 200px;
  padding: 16px 32px;
  border: 0;
  background: #e3321a;
  color: #fff;
  font: 18px "Graphik Semibold", Helvetica, sans-serif;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  transition: background 0.2s ease;
  /**
   * Disabled button
   */ }
  .c-btn:hover, .c-btn:focus {
    background: #e3321a;
    color: #fff; }
  .c-btn.disabled {
    background: #e4e2e2;
    color: #666464; }

/**
 * Small button
 */
.c-btn-small {
  padding: 4px; }

/**
 * Large button
 */
.c-btn-large {
  padding: 4px;
  background: #666464;
  font-size: 1.4rem;
  font-weight: normal;
  text-transform: uppercase; }

/**
 * Text button
 */
.c-text-btn {
  position: relative;
  border: none;
  background: none;
  font-style: normal;
  font-weight: bold;
  font-size: 1.2rem; }
  .c-text-btn:after {
    position: absolute;
    height: 20px;
    width: 20px;
    top: 7px;
    right: -26px;
    background: url("../../../images/icon-arrowhead.svg") no-repeat;
    content: "";
    transition: all 0.2s ease; }
  .c-text-btn:hover, .c-text-btn:focus {
    color: #272525; }
    .c-text-btn:hover:after, .c-text-btn:focus:after {
      right: -28px; }
  .c-block-media--small .c-text-btn {
    font-size: 1rem; }

/**
 * Button on overlay
 */
.c-btn--overlay {
  background: #999797; }

/*------------------------------------*    #FIELDS
\*------------------------------------*/
.c-field {
  margin-bottom: 1rem; }

.c-field__note {
  font-size: 0.75rem; }
  .c-field__note a {
    text-decoration: underline; }

/*------------------------------------
    #FOOTER NAVIGATION
------------------------------------*/
/**
 * Footer Nav
 */
.c-footer-nav {
  display: block;
  margin-right: 1rem; }

/**
 * Footer Nav List
 */
.c-footer-nav__list {
  display: flex;
  flex-direction: column; }
  @media all and (min-width: 24em) {
    .c-footer-nav__list {
      flex-direction: row; } }

/**
 * Footer Nav List Item
 */
.c-footer-nav__item {
  width: 50%; }
  @media all and (min-width: 24em) {
    .c-footer-nav__item {
      width: inherit; } }

/**
 * Footer Nav Links
 */
.c-footer-nav__link {
  display: block;
  padding: 1rem 2rem 1rem 0;
  color: #fff;
  font-weight: bold; }
  .c-footer-nav__link:hover, .c-footer-nav__link:focus {
    color: #999797; }

/*------------------------------------
    #FOOTER
------------------------------------*/
/**
 * Footer
 */
.c-footer {
  clear: both;
  overflow: hidden;
  padding: 1em 0;
  background: #e3321a;
  color: #fff;
  line-height: 1.2; }

/**
 * Footer nav
 */
.c-footer__info {
  max-width: 40em; }
  .c-footer__info a {
    color: #cbc9c9;
    text-decoration: underline; }
    .c-footer__info a:hover, .c-footer__info a:focus {
      text-decoration: none; }

/*------------------------------------*    #FORMS
\*------------------------------------*/
/**
 * Search form
 */
.c-search-form {
  display: none; }
  .c-search-form--is-active {
    display: block;
    position: absolute;
    top: 67px;
    right: 2px;
    width: 100%;
    padding: 1em;
    box-shadow: 0px 3px 5px -2px rgba(0, 0, 0, 0.2);
    background: #fff;
    z-index: 1; }
  @media all and (min-width: 29.75em) {
    .c-search-form {
      display: block; } }

/**
 * Search input
 */
.c-search-form__input {
  padding: 0.5rem; }

/**
 * Stacked form button wrapper
 */
.c-form__actions {
  margin-bottom: 2rem; }

/*------------------------------------
    #HEADER
------------------------------------*/
/**
 * Header
 */
.c-header {
  display: flex;
  align-items: center;
  padding: 40px;
  background-color: #1a1818; }
  @media all and (min-height: 46.8em) {
    .c-header {
      padding: 32px; } }

/**
 * Header Controls
 * 1) This container holds the primary nav
 */
.c-header__controls {
  display: flex;
  align-items: flex-end;
  margin-left: auto; }

/**
 * Nav toggle button
 * 1) Styles for the general nav toggle button
 */
.nav-toggle {
  display: block;
  padding: 0.9rem 1rem 0.7rem;
  font-size: 1.3rem;
  line-height: 1; }
  @media all and (min-width: 46.8em) {
    .nav-toggle {
      display: none; } }
  @media all and (max-width: 17em) {
    .nav-toggle {
      padding-left: 0.2rem;
      padding-right: 0.2rem; } }

/*------------------------------------
    #LISTS
------------------------------------*/
/**
 * Inline list
 */
.inline-list li {
  display: inline-block; }

/**
 * Social list
 */
.social-list li {
  margin: 0 0.4rem 8px 0; }

.social-list a {
  font-size: 1.6em; }

/**
 * Headline list
 */
.headline-list {
  margin-bottom: 8px; }
  .headline-list.flush {
    margin: 0; }
  .headline-list h4 {
    font-weight: normal; }
  .headline-list li {
    padding: 2px 0;
    border-top: 1px solid #999797; }

/**
 * Post list
 */
.post-list li {
  margin-bottom: 8px; }

/**
 * Bullet list
 */
.bullet-list {
  margin: 0 0 1em 1.2em;
  line-height: 1.3;
  list-style: square; }
  .bullet-list li {
    margin-bottom: 8px; }

/**
 * Text list
 */
.text-list {
  margin: 0 0 1em;
  line-height: 1.3; }
  .text-list li {
    margin-bottom: 8px; }

/**
 * Media List
 */
.c-media-list__item {
  margin-bottom: 1.5em; }

/**
 * Tile list
 */
.c-tile-list {
  display: flex;
  flex-direction: column; }
  @media all and (min-width: 55rem) {
    .c-tile-list {
      flex-direction: row;
      flex-wrap: wrap; } }

/**
 * Tile list item
 */
.c-tile-list__item {
  width: 100%;
  margin-bottom: 1em;
  position: relative; }
  .c-tile-list__item:nth-child(2n) {
    padding-right: 0; }
  @media all and (min-width: 55rem) {
    .c-tile-list__item {
      width: 50%;
      margin: 0;
      padding: 0 1em 1em 0; } }

/*------------------------------------
    #LOGO
------------------------------------*/
.c-logo {
  display: block;
  /*max-width: 200px;*/ }
  .c-box__header .c-logo {
    margin: 0 auto;
    max-width: 12em; }

.c-logo-link {
  display: inline-block;
  padding: 0.2rem 1rem; }

/*------------------------------------
    #MESSAGING
------------------------------------*/
/**
 * Alert
 */
.alert {
  overflow: hidden;
  padding: 0 1rem;
  background: #f9f7f7;
  text-align: center;
  font-size: 1em;
  animation: slideDown 2s forwards; }
  .alert a {
    color: inherit;
    text-decoration: underline; }

/**
 * Error alert
 */
.alert--error {
  background: #fdded8;
  color: #b12a0b; }

/**
 * Success alert
 */
.alert--success {
  background: #d4f3e6;
  color: #03804d; }

/**
 * Warning alert
 */
.alert--warning {
  background: #fffecf;
  color: #a59b15; }

/**
 * Info alert
 */
.alert--info {
  background: #d3f2ff;
  color: #0192d0; }

/**
 * Slidedown animation
 */
@keyframes slideDown {
  0% {
    max-height: 0;
    padding: 0; }
  100% {
    max-height: 12em;
    padding: 1rem; } }

/**
 * Overlay
 */
.c-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1em;
  position: relative;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  text-align: center; }
  .c-overlay--is-hidden {
    display: none; }
  .c-tile-grid__primary .c-overlay {
    position: absolute; }
  .c-tile-list__item .c-overlay {
    position: absolute; }
  .c-section .c-overlay {
    position: absolute; }

/**
 * Overlay Intro
 */
.c-overlay__intro {
  color: #fff;
  font-size: 1.5rem; }

/**
 * Pagination
 */
.pagination {
  overflow: hidden; }
  .pagination li {
    float: left;
    border-right: 1px solid #cbc9c9; }
    .pagination li:last-child {
      border: 0; }
  .pagination a {
    padding: 8px; }

/*------------------------------------
    #PAGE HEADER
------------------------------------*/
/**
 * 1) The page header contains the page's heading, as perhaps other page information
 *    such as description or actions (edit, delete, etc).
 */
.c-page-header__title {
  padding: 1rem 0 0.5rem;
  position: relative;
  color: #666464; }
  .c-page-header__title:after {
    display: block;
    position: absolute;
    width: 3rem;
    height: 0.5rem;
    bottom: 0;
    background: #999797;
    content: ""; }

/*------------------------------------
    #PRIMARY NAVIGATION
------------------------------------*/
/**
 * Navigation tag
 */
.c-primary-nav {
  display: none; }
  .c-primary-nav--is-active {
    display: block;
    position: absolute;
    top: 67px;
    right: 0;
    z-index: 2; }
  @media all and (min-width: 46.8em) {
    .c-primary-nav {
      display: block; } }

/**
 * Nav List
 */
.c-primary-nav__list {
  display: none; }
  @media all and (min-width: 46.8em) {
    .c-primary-nav__list {
      display: flex;
      flex-wrap: nowrap;
      align-items: center; } }
  .c-primary-nav--is-active .c-primary-nav__list {
    display: block; }

/**
 * Nav Links
 */
.c-primary-nav__link {
  display: block;
  padding: 0 20px;
  color: #fff;
  font: 16px "Graphik Regular", Helvetica, sans-serif;
  text-transform: uppercase; }

/*------------------------------------
    #SECTIONS
------------------------------------*/
/**
 * Section
 */
.c-section {
  margin: 0 0 16px;
  position: relative; }
  @media all and (min-width: 39.8em) {
    .l-sidebar .c-section {
      margin-right: 2em;
      width: 50%; }
      .l-sidebar .c-section:last-child {
        margin-right: 0; } }
  @media all and (min-width: 50em) {
    .l-sidebar .c-section {
      margin-right: 0;
      width: 100%; } }

/**
 * Section title
 */
.c-section__title {
  margin-bottom: 1.5rem;
  position: relative;
  color: #666464; }
  .c-section__title:after {
    display: block;
    position: absolute;
    width: 2rem;
    height: 0.3rem;
    top: 30px;
    left: 1px;
    background: #999797;
    content: ""; }

/**
 * Section block
 */
.c-tile-grid {
  background: url(../../images/sample/hero-mountains.jpg) no-repeat 50% 50% #272525;
  background-size: cover; }

.c-tile-grid__inner {
  display: flex;
  flex-direction: column; }
  @media all and (min-width: 46.8em) {
    .c-tile-grid__inner {
      flex-direction: row; } }

.c-tile-grid__primary {
  display: flex;
  margin-bottom: 1rem;
  position: relative;
  width: 100%; }
  @media all and (min-width: 46.8em) {
    .c-tile-grid__primary {
      width: 50%; } }
  @media all and (min-width: 55rem) {
    .c-tile-grid__primary {
      width: 30%; } }

.c-tile-grid__secondary {
  flex: 1; }
  @media all and (min-width: 46.8em) {
    .c-tile-grid__secondary {
      padding: 0 0 0 1em; } }

/*------------------------------------
    #TEXT
------------------------------------*/
/**
 * Passages of text
 */
.text a {
  text-decoration: underline; }

.text ul {
  margin: 0 0 8px 1.2em;
  list-style: disc; }
  .text ul ul {
    margin-bottom: 0; }

.text ol {
  margin: 0 0 8px 1.5em;
  list-style: decimal; }
  .text ol ol {
    margin-bottom: 0; }

/**
 * Text passage
 */
.s-text-passage {
  margin-bottom: 1rem; }

/**
 * Image within text passage
 */
.c-text-passage__img {
  margin-bottom: 1rem; }

/*==============================================================================
    $LAYOUT
  ============================================================================*/
/*------------------------------------
    #LAYOUT
------------------------------------*/
/**
 * Layout container
 */
.l {
  margin: 0 auto;
  max-width: 80em;
  padding: 1rem; }

/*------------------------------------
    #TEMPLATES
------------------------------------*/
/**
 * 2 column layout
 */
.l--two-col {
  display: flex;
  flex-direction: column;
  /**
   * Sidebar
   */ }
  @media all and (min-width: 50em) {
    .l--two-col .l-main {
      padding-right: 8px;
      width: 70%; } }
  @media all and (min-width: 39.8em) {
    .l--two-col .l-sidebar {
      display: flex; } }
  @media all and (min-width: 50em) {
    .l--two-col .l-sidebar {
      flex-direction: column;
      padding: 0 0 0 8px;
      width: 30%; } }
  @media all and (min-width: 50em) {
    .l--two-col {
      flex-direction: row; } }

/*------------------------------------
    #GRIDS
------------------------------------*/
/**
 * Grid
 */
.g {
  margin: 0 -4px;
  overflow: hidden; }

/**
 * Grid item
 */
.gi {
  padding: 4px; }
  .gi img {
    display: block; }
  @media all and (min-width: 46.8em) {
    .gi {
      float: left; } }

/**
 * 2 up grid
 */
@media all and (min-width: 46.8em) {
  .g-2up > .gi {
    float: left;
    width: 50%; }
    .g-2up > .gi:nth-of-type(odd) {
      clear: left; } }

/**
 * Grid side by side
 */
.g-half > .gi {
  float: left;
  width: 50%; }
  .g-half > .gi:nth-of-type(odd) {
    clear: left; }

/**
 * 3 up grid
 */
@media all and (min-width: 46.8em) {
  .g-3up > .gi {
    float: left;
    width: 50%; }
    .g-3up > .gi:nth-of-type(2n+1) {
      clear: left; } }

@media all and (min-width: 50em) {
  .g-3up > .gi {
    width: 33.3333333%; }
    .g-3up > .gi:nth-of-type(2n+1) {
      clear: none; }
    .g-3up > .gi:nth-of-type(3n+1) {
      clear: left; } }

/**
 * 4 up grid
 */
@media all and (min-width: 46.8em) {
  .g-4up > .gi {
    float: left;
    width: 50%; }
    .g-4up > .gi:nth-of-type(2n+1) {
      clear: both; } }

@media all and (min-width: 50em) {
  .g-4up > .gi {
    width: 25%; }
    .g-4up > .gi:nth-of-type(2n+1) {
      clear: none; }
    .g-4up > .gi:nth-of-type(4n+1) {
      clear: left; } }

/**
 * Quarter grid always displayed side by side
 */
.g-quarter > .gi {
  float: left;
  width: 24%; }
  .g-quarter > .gi:nth-of-type(4n+1) {
    clear: left; }

/**
 * Grid max 4 up
 */
@media all and (min-width: 29.75em) {
  .g-max4 > .gi {
    float: left;
    width: 50%; }
    .g-max4 > .gi:nth-of-type(2n+1) {
      clear: both; } }

@media all and (min-width: 39.8em) {
  .g-max4 > .gi {
    width: 33.3333333%; }
    .g-max4 > .gi:nth-of-type(2n+1) {
      clear: none; }
    .g-max4 > .gi:nth-of-type(3n+1) {
      clear: left; } }

@media all and (min-width: 50em) {
  .g-max4 > .gi {
    width: 25%; }
    .g-max4 > .gi:nth-of-type(3n+1) {
      clear: none; }
    .g-max4 > .gi:nth-of-type(4n+1) {
      clear: left; } }

/**
 * Grid max of 5 up
 */
.g-max5 > .gi {
  float: left;
  width: 50%; }
  .g-max5 > .gi:nth-of-type(2n+1) {
    clear: both; }

@media all and (min-width: 39.8em) {
  .g-max5 > .gi {
    width: 33.3333333%; }
    .g-max5 > .gi:nth-of-type(2n+1) {
      clear: none; }
    .g-max5 > .gi:nth-of-type(3n+1) {
      clear: left; } }

@media all and (min-width: 46.8em) {
  .g-max5 > .gi {
    width: 25%; }
    .g-max5 > .gi:nth-of-type(3n+1) {
      clear: none; }
    .g-max5 > .gi:nth-of-type(4n+1) {
      clear: left; } }

@media all and (min-width: 48em) {
  .g-max5 > .gi {
    width: 20%; }
    .g-max5 > .gi:nth-of-type(4n+1) {
      clear: none; }
    .g-max5 > .gi:nth-of-type(5n+1) {
      clear: left; } }
