<footer class="c-footer" role="contentinfo">

  <div class="l">
    {{> molecules-footer-links }} {{> molecules-footer-apps }}
  </div>

  <div class="c-footer__copyright">
    <p>{{ copyright }}</p>
  </div>

</footer>
<!-- end c-footer -->