<li class="c-primary-nav__link">
    <a href="https://shop.superpedestrian.com">
        <div class="cartButton">
            <img class="cartIcon" src="/images/icon-cart@3x.png" alt="Cart" />
            <span id="shop-badge"></span>
        </div>
    </a>
</li>