<li class="c-primary-nav__link">
    <a href="{{ & countryNav }}" class="no-hover">
        <div class="flag-icon flag-icon-squared flag-icon-us" alt="country" id="country-badge">
        </div>
    </a>
</li>
