<div class="col-sm-12 footer-privacy-seal large-margin-bottom">
  <a href="//privacy.truste.com/privacy-seal/validation?rid=2960a60c-2e6d-43f4-adda-2d57b130b3af" target="_blank">
    <img style="border: none" src="//privacy-policy.truste.com/privacy-seal/seal?rid=2960a60c-2e6d-43f4-adda-2d57b130b3af" alt="TRUSTe"/>
  </a>
</div>