<div class="col-sm-12 footer-social large-margin-bottom">
  <a class="fa fa-facebook medium-margin-right" aria-hidden="true" href="{{ facebook_url }}" target="_blank"></a>
  <a class="fa fa-twitter medium-margin-right" aria-hidden="true" href="{{ twitter_url }}" target="_blank"></a>
  <a class="fa fa-instagram medium-margin-right" aria-hidden="true" href="{{ instagram_url }}" target="_blank"></a>
  <a class="fa fa-youtube-play medium-margin-right" aria-hidden="true" href="{{ youtube_url }}" target="_blank"></a>
</div>
