<div class="col-sm-12 footer-social large-margin-bottom">
  <a class="fa fa-facebook medium-margin-right" aria-hidden="true"></a>
  <a class="fa fa-twitter medium-margin-right" aria-hidden="true"></a>
  <a class="fa fa-instagram medium-margin-right" aria-hidden="true"></a>
  <a class="fa fa-medium medium-margin-right" aria-hidden="true"></a>
  <a class="fa fa-youtube-play medium-margin-right" aria-hidden="true"></a>
</div>