<div class="col-sm-12 c-footer-nav">
    <div class='row'>
      {{# footerNav.sections }}
      <div class="col-sm-3 c-footer-nav__list">
        <h6>{{ title }}</h6>
        <ul>
        {{# links }}
          <li class="c-footer-nav__item"><a class="c-footer-nav__link" href="{{& url }}">{{& label }}</a></li>
        {{/ links }}
        </ul>
      </div>
      {{/ footerNav.sections }}
    </div>
</div>
