<li id="login-button" class="c-primary-nav__link"><a id="sp-login-url" href="#">Login</a></li>
<li id="account-button" class="c-primary-nav__link">
  <a href="#">
    My Account
    <i id="account-caret" class="glyphicon glyphicon-triangle-bottom"></i>
  </a>
  <div id="dropdown-area" class="dropdown-area hidden">
    <ul id="arrow-menu" class="arrow-menu">
      <li class="sub-menu"><a id="sp-profile-url" href="#">Profile</a> </li>
      <li class="sub-menu"><a id="sp-orders-url" href="#">Account &amp; Orders</a></li>
      <li class="sub-menu"><a id="sp-logout-url" href="#">Logout</a></li>
    </ul>
  </div>
</li>