<li id="login-button" class="c-primary-nav__link"><a class="sp-login-url" href="#">{{ login }}</a></li>
<li id="account-button" class="c-primary-nav__link">
  <a id="user_dropdown">
    <i class="glyphicon glyphicon-user"></i>
  </a>
  <div id="dropdown-area" class="dropdown-area hidden">
    <ul id="arrow-menu" class="arrow-menu">
      <li class="sub-menu"><a id="sp-profile-url" href="#">{{ profile }}</a> </li>
      <li class="sub-menu"><a id="sp-orders-url" href="#">{{ account }} &amp; {{ orders }}</a></li>
      <li class="sub-menu"><a id="sp-logout-url" href="#">{{ logout }}</a></li>
    </ul>
  </div>
</li>
