<li id="login-button" class="c-primary-nav__link"><a id="sp-login-url" href="#">LOGIN</a></li>
<li id="account-button" class="c-primary-nav__link">
  <a href="#" onClick="">MY ACCOUNT</a>
  <i id="account-caret" class="fa fa-caret-down"></i></a></li>
  <div class="dropdown-area">
    <ul id="arrow-menu" class="arrow-menu">
      <li class="sub-menu"><a id="sp-profile-url" href="#">PROFILE</a> </li>
      <li class="sub-menu"><a id="sp-orders-url" href="#">ACCOUNT &amp; ORDERS</a></li>
      <li class="sub-menu"><a id="sp-logout-url" href="#">LOGOUT</a></li>
    </ul>
  </div>
</li>

<script src="/js/header.js"></script>