<span class="visible-logged-in">
    <li class="mobile-sub-menu"><a class="sp-profile-url" href="#">{{ profile }}</a> </li>
    <li class="mobile-sub-menu"><a class="sp-orders-url" href="#">{{ account }} &amp; {{ orders }}</a></li>
    <li class="mobile-sub-menu"><a class="sp-logout-url" href="#">{{ logout }}</a></li>
</span>
