<span class="visible-logged-in">
    <li class="mobile-sub-menu sp-profile-url"><a href="#">{{ profile }}</a> </li>
    <li class="mobile-sub-menu sp-orders-url"><a href="#">{{ account }} &amp; {{ orders }}</a></li>
    <li class="mobile-sub-menu sp-logout-url"><a href="#">{{ logout }}</a></li>
</span>
