<ul class="c-primary-nav__list" id="nav-list">
    {{# primaryNav }}
        {{#icon}}
            <li><a href="{{ url }}" class="c-primary-nav__link"><img src="/images/{{ icon }}.png" data-rjs="3" alt="{{ label }}" /></a></li>
        {{/icon}}
        {{^icon}}
        <a href="{{ url }}"><li>{{ label }}</li></a>
        {{/icon}}
    {{/ primaryNav }}
</ul><!--end c-primary-nav__list-->
