{{# unifiedNav }}
    {{#url}}
        <li class="c-primary-nav__link">
            <a href="{{ url }}">
                {{ label }}
            </a>
        </li>
    {{/url}}
    {{^url}}
        <li class="c-primary-nav__link no-mobile">
            <a href="{{ url }}">
                {{ label }}
            </a>
        </li>
        <li id="toggle_nested" class="c-primary-nav__link only-mobile">
            <div class="nav-item">
                {{ label }}
                <img id="accordion-btn" src="/images/iconAccordion.svg" alt="&or;" />
            </div>
        </li>
    {{/url}}
    {{#nestedNav}}
        <li class="c-primary-nav__link only-mobile nested-nav"><a href="{{ url }}">{{ label }}</a></li>
    {{/nestedNav}}
{{/ unifiedNav }}
