<h1 class="text-uppercase title-section">Bike Specs</h1>
<table>
    <tr>
        <td class="text-uppercase spec-label">Weight</td>
        <td class="grey-text">48 lbs / 22Kg (with Wheel)</td>
    </tr>
    <tr>
        <td class="text-uppercase spec-label">Frame</td>
        <td class="grey-text">Powder coated chromoly (CRMO) steel</td>
    </tr>
    <tr>
        <td class="text-uppercase spec-label">Hub</td>
        <td class="grey-text">Single-speed Wheel (15T cog)</td>
    </tr>
    <tr>
        <td class="text-uppercase spec-label">Gear ratio</td>
        <td class="grey-text">40/15</td>
    </tr>
    <tr>
        <td class="text-uppercase spec-label">Tires</td>
        <td class="grey-text">Kenda Kwest 35c</td>
    </tr>
    <tr>
        <td class="text-uppercase spec-label">Rims</td>
        <td class="grey-text">Polished silver CR-18</td>
    </tr>
    <tr>
        <td class="text-uppercase spec-label">Rack</td>
        <td class="grey-text">Powder coated chromoly (CRMO) steel</td>
    </tr>
    <tr>
        <td class="text-uppercase spec-label">Grips, Saddle</td>
        <td class="grey-text">Leather</td>
    </tr>
</table>