<h1 class="text-uppercase title-section">Size Info</h1>
<table>
    <tr>
        <td class="text-uppercase large-grey-heading">The Kilt</td>
        <td class="text-uppercase light-grey-text">Recommended Height</td>
    </tr>
    <tr>
        <td class="spec-label">Small (43 cm)</td>
        <td class="grey-text">4'10" - 5'0"</td>
    </tr>
    <tr>
        <td class="spec-label">Regular (48 cm)</td>
        <td class="grey-text">5'1" - 5'10"</td>
    </tr>
    <tr>
        <td class="trousers text-uppercase large-grey-heading" colspan="2">Trousers</td>
    </tr>
    <tr>
        <td class="spec-label">Small (52 cm)</td>
        <td class="grey-text">5'2" - 5'10"</td>
    </tr>
    <tr>
        <td class="spec-label">Regular (57 cm)</td>
        <td class="grey-text">5'11" - 6'4"</td>
    </tr>
</table>